// Cosmo 4.1.1
// Bootswatch

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #697077 !default;
$gray-800: #28221e !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0092FF !default;
$indigo:  #6610f2 !default;
$purple:  #613d7c !default;
$pink:    #e83e8c !default;
$red:     #e51c23 !default;
$orange:  #f0ad4e !default;
$yellow:  #dd8800 !default;
$green:   #4CAF50 !default;
$teal:    #20c997 !default;
$cyan:    #054c5e !default;

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Options

$enable-rounded: true !default;

// Body

$body-color:    $gray-800 !default;

// Fonts

$font-family-sans-serif: "Gotham SSm A","Gotham SSm B", "Segoe UI", Calibri, Candara, Arial, sans-serif !default;

$font-size-base: 0.875rem !default;

$headings-font-weight:   300 !default;

// Navbar

$navbar-dark-hover-color:           rgba($white,1) !default;

$navbar-light-hover-color:          rgba($black,.9) !default;

// Alerts

$alert-border-width:                0 !default;

// Progress bars

$progress-height:               0.5rem !default;

$border-radius:               0.2rem !default;
$border-radius-lg:            0.2rem !default;
$border-radius-sm:            0.2rem !default;
